label{
    color:white;
}
form{
    display:flex;
    flex-direction:column;
    padding:4rem 1rem;
    margin:auto;
    max-width:600px;
}
form input,form textarea{
    margin-bottom:1rem;
    padding:10px 18px;
    font-size:1.2rem;
    background-color:rgba(255,255,255,0.5);
    border-color:rgba(255,255,255,0.5);
    color:#f4f4f4;
}

.ViewButton1{
background-color:yellow;
border:none;
height:34px;
max-width:600px;
cursor: pointer;
}
.ViewButton1:hover{
background-color:orange;
color: white;
}