.WholeContainer{
    background-color:rgba(19, 19,19,0.8);
    width:300px;
    height:300px;
    padding:20px;
    position: relative;
    margin-left:30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius:14px;
    transition:2s;
}

.IndividualContainer{
    max-width:300px;
    height:300px;
}
.ImageContainer{
    width:300px;
    height:160px;
}
.Image12{
    height:100%;
    width:100%;
}
.TITLE{
    color:white;
    font-family:"breeserif";
    text-decoration:underline;
    font-size:18px;
    font-weight:bold;
}
.information{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:100;
}
.BUTTONSCONTAINER{
    max-width:340px;
    height:400px;
    display:flex;
    justify-content:space-between;
}
.BUTTONSCONTAINER a:hover{
    color:lightgreen;
}
.WholeContainer:hover{
    transform: scale(1.1);
    cursor: pointer;
    z-index:1;
}
@media (max-width:640px){
    .WholeContainer{
        width:240px;
        height:300px;
        padding:20px;
        margin:0px;
        margin-right:32px;
        margin-bottom:18px;
    }
    .IndividualContainer{
        max-width:240px;
        height:200px;
    }
    .ImageContainer{
        width:240px;
        height:130px;
    }
}