.UNORDERED{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
@media (max-width:640px){
.UNORDERE{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.projectHeading{
    font-family:"breeserif";
    color:white;
    font-size:1.6rem;
    text-align:center;
}
}